*{
    margin: 0;
    padding: 0;
}
body {
    background-color: #162831;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;

}
.header{
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 214px;
   color: white;

}


.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu ul  {
    display: flex;
}

.menu ul li {
    margin-left: 50px;
    list-style: none;
    font-size: 14px;
}

.menu ul:first-child {
    margin-left: 0px;
}
.button{
    background-color: #018ABE;
    display: inline-flex;
    padding: 15px 9px 15px 9px;
    border-radius: 9px;
}

.button p {
    color: white;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.img{
    background-image: url(./img/unsplash_S-llxYh3GzI.png) ;
    width: 1290px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
    
}
h3{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    margin-bottom: 40px;
}
h1{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 64px;
}
.sessiontext{
    color: white;
    margin-bottom: 30px;
    }

h2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 42px;
    font-weight: bold;
}

.chosee {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.card1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 540px;
    width: 416px;
    margin-bottom: 30px;
    border-radius: 5%;
    background-image: url(./img/unsplash_TnOyyEtrKd0.png);
}

.card2 {
    display: inline-flex;
    flex-wrap: wrap;
    width: 856px;
    gap: 24px;
    margin-bottom: 30px;

}
.reviews{
    color: white;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    }
.reviews-people{
    width: 1697px;
    height: 579px;
    display: flex;
    gap: 11px;
    margin-bottom: 30px;
    text-align: start;
    align-items: center;
    align-items: center;
}
.review-Alexandra{
    width: 500px;
    height: 273px;
    background-color: #018ABE;
    opacity: 40%;
    padding: 39px 45px 70px 45px;
    border-radius: 5%;
    display: inline-block;
}
.review-Kira{
    width: 636px;
    height: 346px;
    background-color: #018ABE;
    padding: 5%;
    border-radius: 5%;
    display: inline-block;
    padding: 49px 60px 55px 60px;

}
.review-Yana{
    width: 500px;
    height: 273px;
    background-color: #018ABE;
    opacity: 40%;
    border-radius: 5%;
    display: inline-block;
    padding: 39px 45px 56px 45px;

}
h4{
   font-size: 20px;   
}
p{
    font-size: 16px;
    color: white;
    font-weight: bold;
}

.about{
    color: white;
    margin-bottom: 30px;
    justify-content: center;
    }
.aboutgrid{
    display: grid;
    grid-template-columns: 500px 500px;
    grid-column-gap: 40px;
    grid-row-gap: 20px;
    justify-content: center;
    margin-top: 30px;
}

    
.container{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.price{
    color: white;
    margin-bottom: 60px;
    justify-content: center;
    align-items: center;
    }
.price-item {
   display: flex;
   justify-content: space-between;
   width: 416px;
   
}

.priceitem {
    margin-right: 70px;
   
   
}
 .service-name {
            font-size: 18px;
            color: white;
            margin-bottom: 5px;}
.price {
            color: white;
            font-weight: bold;
            font-size: 20px;}

.certificate{
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    width: 526px;
    height: 455px;

}
.certificate_img{
    border-radius: 5%;
    width: 526px;
    height: 396px;
}


footer{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.contacts{
   display: flex;
   row-gap: 24px;
   

}

.map {
    width: 856px;
    height: 604px;
    margin-right: 48px;
}

.location {
  display:flex;
  flex-flow: column;
  justify-content: space-between;
}
.location1{
    background-color: #018ABE;
    width: 392px;
    height: 290px;
    border-radius: 5%;
    gap: 24px;
    
}

.location2{
    background-color: #018ABE;
    width: 392px;
    height: 290px;
    border-radius: 5%;
    
}

.button_footer{
    background-color: white;
    display: inline-flex;
    padding: 15px 9px 15px 9px;
    border-radius: 9px;
}

.button_footer{
    color: #018ABE;}
 h6{color: #018ABE;}
